/* calendar wrapper */
.calendar {
  width: 100%;
  border: none;
}

.react-calendar {
  all: unset; /* REMOVE ALL DEFAULT STYLES */
  background: #000000 !important;
}

.react-calendar__tile {
  @apply flex items-center justify-center px-4 text-center text-text;
}

/* Weekdays */
.react-calendar__month-view__weekdays {
  @apply mb-2 grid grid-cols-7 text-center font-bold text-gray-500;
}

/* Days grid */
.react-calendar__month-view__days {
  @apply grid grid-cols-7 gap-2 text-center;
}

/* Selected day */
.react-calendar__tile--active {
  @apply rounded-full !bg-primary text-white;
}

/* Previous/next month days */
.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-300;
}

.react-calendar__tile--now {
  @apply rounded-full bg-accent text-light;
}

.react-calendar__tile--active:hover {
  @apply scale-105;
}

/* Month & Year (Navigation Title) */
.react-calendar__navigation__label {
  @apply font-semibold text-gray-700;
}

.react-calendar_tile--range {
  @apply !bg-primary !text-light;
}

/* Hover trail ONLY for middle dates */
.react-calendar__tile--hover:not(
  .react-calendar__tile--rangeStart,
  .react-calendar__tile--rangeEnd,
  .react-calendar__tile--rangeBothEnds
) {
  @apply bg-primary/25 text-text;
}

.react-calendar__tile--hasActive {
  @apply !bg-primary !text-light;
}

.react-calendar__tile--active {
  @apply bg-primary;
}

.react-calendar__month-view__weekdays,
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply rounded-full bg-primary text-light;
}

/* .react-calendar_tile
.react-calendar_tile--active 
.react-calendar_tile--range 
.react-calendar_tile--rangestart
.react-calendar_tile--rangeEnd 
.react-calendar_tile--rangeBothEnds 
.react-calendar__tile--hover 
.react-calendar_tile--hoverStart
.react-calendar__month-view_days__day */
